/* NAVBAR */

.navbar {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    margin-top: 1em;
    margin-left: 4em;
    text-align: center;
  }
  
  .navbar li {
    display: inline-block;
    margin: 1em;
    color: blue;
  }
  
  #nav,
  .a {
    font-family: "Karla", sans-serif;
    font-weight: 800;
    color: #000;
    text-decoration: none;
    list-style: none;
  }
  
  @media (max-width: 1050px) {
    .navbar {
      display: flex;
      justify-content: center;
      width: 100%;
      margin: 0;
    }
  }
  @media (min-width: 880px) {
    .navbar {
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 100%;
    }
  }
  
  /* NAV END */